{
  "ecmaFeatures": {
    "classes": true,
    "modules": true,
    "jsx": true,
    "generators": true,
    "spread": true,
    "experimentalObjectRestSpread": true,
    "destructuring": true,
    "restParams": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "GLOBALS": {},
    "GLOBALS_JS_CSS": {}
  },
  "rules": {
    "no-trailing-spaces": 2,
    "react/display-name": 2,
    "new-cap": 2,
    "no-empty": 2,
    "no-shadow": [1, {"builtinGlobals": false, "hoist": "never"}],
    "no-unused-vars": [2, {"vars": "local", "args": "after-used", "varsIgnorePattern": "^React$"}],
    "eqeqeq": [2, "smart"],
    "semi": 2
  },
  "plugins": [
    "react"
  ]
}