:local {
  .header {
    font-size: 16px;
    font-weight: 600;
  }
  .accounts {
    width: 400px;
  }
  :global.buttons {
    margin-top: 10px;

    .add-account {
      margin-left: 10px;
    }
  }
}