:local {
  .header {
    font-size: 20px;
    font-weight: 600;
  }
  .footer {

  }

  .list {
    width: 700px;
  }

  .smallWidth {
    width:1%;
    text-align: center;
    white-space: nowrap;
  }
}