@import "variables";

table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: auto;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  padding-left: $small-spacing;
  text-align: left;

  &:last-child {
    padding-right: $small-spacing;
  }
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
  padding-left: $small-spacing;

  &:last-child {
    padding-right: $small-spacing;
  }
}

tr,
td,
th {
  vertical-align: middle;
}